---
format:
  html:
    code fold: false
    theme: sandstone
    self-contained: true
---

# XML, HTML, and Web Scraping

JSON and XML are two different ways to represent hierarchical data. Which one is better? There are lots of articles online which discuss similarities and differences between JSON and XML and their advantages and disadvantages. Both formats are still in current usage, so it is good to be familiar with both. However, JSON is more common, so we'll focus on working with JSON representations of hierarchical data.

The reading covered an example of using Beautiful Soup to parse XML. Rather than doing another example XML now, we'll skip straight to scraping HTML from a webpage. Both HTML and XML can be parsed in a similar way with Beautiful Soup.

In [19]:
#importing dependencies
import pandas as pd
import requests
from bs4 import BeautifulSoup

## Scraping an HTML table with Beautiful Soup

Open the URL https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population and scroll down until you see a table of the cities in the U.S. with population over 100,000 (as of Jul 1, 2022). We'll use Beautiful Soup to scrape information from this table.

Read in the HTML from the ULR using the `requests` library.

In [20]:
#using the requests to get the html information
response = requests.get("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population")

Use Beautiful Soup to parse this string into a tree called `soup`

In [21]:
#making a soup from teh content that we requested
soup = BeautifulSoup(response.content, "html.parser")

To find an HTML tag corresponding to a specific element on a webpage, right-click on it and choose "Inspect element". Go to the cities table Wikipedia page and do this now.

You should find that the cities table on the Wikipedia page corresponds to the element

```
<table class="wikitable sortable jquery-tablesorter" style="text-align:center">
```

There are many `<table>` tags on the page.

In [22]:
#finding how many table tags there are on the page
len(soup.find_all("table"))

14

We can use attributes like `class=` and `style=` to narrow down the list.

In [23]:
#finding how many tables with the specific attributes that we want there are in the page
len(soup.find_all("table",
                  attrs={
                      "class": "wikitable sortable",
                      "style": "text-align:center"}
                  ))

3

At this point, you can manually inspect the tables on the webpage to find that the one we want is the first one (see `[0]` below). We'll store this as `table`.

In [24]:
#getting just the first table, which is the one we want
table = soup.find_all("table",
                  attrs={
                      "class": "wikitable sortable",
                      "style": "text-align:center"}
                  )[0]

**Now you will write code to scrape the information in `table` to create a Pandas data frame with one row for each city and columns for: city, state, population (2022 estimate), and 2020 land area (sq mi).** Refer to the Notes/suggestions below as you write your code. A few Hints are provided further down, but try coding first before looking at the hints.

Notes/suggestions:

- Use as a guide the code from the reading that produced the data frame of Statistics faculty
- Inspect the page source as you write your code
- You will need to write a loop to get the information for all cities, but you might want to try just scraping the info for New York first
- You will need to pull the text from the tag. If `.text` returns text with "\n" at the end, try `.get_text(strip = True)` instead of `.text`
- Don't forget to convert to a Pandas Data Frame; it should have 333 rows and 4 columns
- The goal of this exercise is just to create the Data Frame. If you were going to use it --- e.g., what is the population density for all cities in CA? --- then you would need to clean the data first (to clean strings and convert to quantitative). (You can use Beautiful Soup to do some of the cleaning for you, but that goes beyond our scope.)

In [25]:
# initialize an empty list
rows = []

# iterate over all rows in the pop table which is the table that we specified above
for pop in table.find_all("tr")[1:]:

    # Getting all the cells (<td>) in the row.
    cells = pop.find_all("td")

    # The information we need is the text between tags. So we need to look through them

    # Find the the city of the pop table in cell[0]
    # which for most pop is contained in the <strong> tag
    city_tag = cells[0].find("a") or cells[0]
    city = city_tag.get_text(strip = True)

    # Find the state of the pop table in cell[1]
    # which for most pop is contained in the <a> tag
    state_tag = cells[1].find("a") or cells[1]
    state = state_tag.text

    # Find the populaiton of the pop table in cell[3]
    # which for most pop is contained in the <a> tag
    population_tag = cells[2].find("a") or cells[2]
    population = population_tag.get_text(strip = True)

    # Find the land area of the pop in cell[2]
    # which for most pop is contained in the <a> tag
    land_area_tag = cells[5].find("a") or cells[5]
    land_area = land_area_tag.get_text(strip = True)

    # Append this data.
    rows.append({
        "city": city,
        "state": state,
        "population": population,
        "land_area": land_area
    })

In [26]:
#visualizing our list that we created
rows

[{'city': 'New York',
  'state': 'New York',
  'population': '8,335,897',
  'land_area': '300.5\xa0sq\xa0mi'},
 {'city': 'Los Angeles',
  'state': 'California',
  'population': '3,822,238',
  'land_area': '469.5\xa0sq\xa0mi'},
 {'city': 'Chicago',
  'state': 'Illinois',
  'population': '2,665,039',
  'land_area': '227.7\xa0sq\xa0mi'},
 {'city': 'Houston',
  'state': 'Texas',
  'population': '2,302,878',
  'land_area': '640.4\xa0sq\xa0mi'},
 {'city': 'Phoenix',
  'state': 'Arizona',
  'population': '1,644,409',
  'land_area': '518.0\xa0sq\xa0mi'},
 {'city': 'Philadelphia',
  'state': 'Pennsylvania',
  'population': '1,567,258',
  'land_area': '134.4\xa0sq\xa0mi'},
 {'city': 'San Antonio',
  'state': 'Texas',
  'population': '1,472,909',
  'land_area': '498.8\xa0sq\xa0mi'},
 {'city': 'San Diego',
  'state': 'California',
  'population': '1,381,162',
  'land_area': '325.9\xa0sq\xa0mi'},
 {'city': 'Dallas',
  'state': 'Texas',
  'population': '1,299,544',
  'land_area': '339.6\xa0sq\xa0mi'},
 {'city': 'Austin',
  'state': 'Texas',
  'population': '974,447',
  'land_area': '319.9\xa0sq\xa0mi'},
 {'city': 'Jacksonville',
  'state': 'Florida',
  'population': '971,319',
  'land_area': '747.3\xa0sq\xa0mi'},
 {'city': 'San Jose',
  'state': 'California',
  'population': '971,233',
  'land_area': '178.3\xa0sq\xa0mi'},
 {'city': 'Fort Worth',
  'state': 'Texas',
  'population': '956,709',
  'land_area': '347.3\xa0sq\xa0mi'},
 {'city': 'Columbus',
  'state': 'Ohio',
  'population': '907,971',
  'land_area': '220.0\xa0sq\xa0mi'},
 {'city': 'Charlotte',
  'state': 'North Carolina',
  'population': '897,720',
  'land_area': '308.3\xa0sq\xa0mi'},
 {'city': 'Indianapolis',
  'state': 'Indiana',
  'population': '880,621',
  'land_area': '361.6\xa0sq\xa0mi'},
 {'city': 'San Francisco',
  'state': 'California',
  'population': '808,437',
  'land_area': '46.9\xa0sq\xa0mi'},
 {'city': 'Seattle',
  'state': 'Washington',
  'population': '749,256',
  'land_area': '83.8\xa0sq\xa0mi'},
 {'city': 'Denver',
  'state': 'Colorado',
  'population': '713,252',
  'land_area': '153.1\xa0sq\xa0mi'},
 {'city': 'Oklahoma City',
  'state': 'Oklahoma',
  'population': '694,800',
  'land_area': '606.2\xa0sq\xa0mi'},
 {'city': 'Nashville',
  'state': 'Tennessee',
  'population': '683,622',
  'land_area': '475.8\xa0sq\xa0mi'},
 {'city': 'El Paso',
  'state': 'Texas',
  'population': '677,456',
  'land_area': '258.4\xa0sq\xa0mi'},
 {'city': 'Washington',
  'state': 'District of Columbia',
  'population': '671,803',
  'land_area': '61.1\xa0sq\xa0mi'},
 {'city': 'Las Vegas',
  'state': 'Nevada',
  'population': '656,274',
  'land_area': '141.8\xa0sq\xa0mi'},
 {'city': 'Boston',
  'state': 'Massachusetts',
  'population': '650,706',
  'land_area': '48.3\xa0sq\xa0mi'},
 {'city': 'Portland',
  'state': 'Oregon',
  'population': '635,067',
  'land_area': '133.5\xa0sq\xa0mi'},
 {'city': 'Louisville',
  'state': 'Kentucky',
  'population': '624,444',
  'land_area': '324.9\xa0sq\xa0mi'},
 {'city': 'Memphis',
  'state': 'Tennessee',
  'population': '621,056',
  'land_area': '297.0\xa0sq\xa0mi'},
 {'city': 'Detroit',
  'state': 'Michigan',
  'population': '620,376',
  'land_area': '138.7\xa0sq\xa0mi'},
 {'city': 'Baltimore',
  'state': 'Maryland',
  'population': '569,931',
  'land_area': '80.9\xa0sq\xa0mi'},
 {'city': 'Milwaukee',
  'state': 'Wisconsin',
  'population': '563,305',
  'land_area': '96.2\xa0sq\xa0mi'},
 {'city': 'Albuquerque',
  'state': 'New Mexico',
  'population': '561,008',
  'land_area': '187.3\xa0sq\xa0mi'},
 {'city': 'Tucson',
  'state': 'Arizona',
  'population': '546,574',
  'land_area': '241.0\xa0sq\xa0mi'},
 {'city': 'Fresno',
  'state': 'California',
  'population': '545,567',
  'land_area': '115.2\xa0sq\xa0mi'},
 {'city': 'Sacramento',
  'state': 'California',
  'population': '528,001',
  'land_area': '98.6\xa0sq\xa0mi'},
 {'city': 'Mesa',
  'state': 'Arizona',
  'population': '512,498',
  'land_area': '138.7\xa0sq\xa0mi'},
 {'city': 'Kansas City',
  'state': 'Missouri',
  'population': '509,297',
  'land_area': '314.7\xa0sq\xa0mi'},
 {'city': 'Atlanta',
  'state': 'Georgia',
  'population': '499,127',
  'land_area': '135.3\xa0sq\xa0mi'},
 {'city': 'Colorado Springs',
  'state': 'Colorado',
  'population': '486,248',
  'land_area': '195.4\xa0sq\xa0mi'},
 {'city': 'Omaha',
  'state': 'Nebraska',
  'population': '485,153',
  'land_area': '141.6\xa0sq\xa0mi'},
 {'city': 'Raleigh',
  'state': 'North Carolina',
  'population': '476,587',
  'land_area': '147.1\xa0sq\xa0mi'},
 {'city': 'Virginia Beach',
  'state': 'Virginia',
  'population': '455,618',
  'land_area': '244.7\xa0sq\xa0mi'},
 {'city': 'Long Beach',
  'state': 'California',
  'population': '451,307',
  'land_area': '50.7\xa0sq\xa0mi'},
 {'city': 'Miami',
  'state': 'Florida',
  'population': '449,514',
  'land_area': '36.0\xa0sq\xa0mi'},
 {'city': 'Oakland',
  'state': 'California',
  'population': '430,553',
  'land_area': '55.9\xa0sq\xa0mi'},
 {'city': 'Minneapolis',
  'state': 'Minnesota',
  'population': '425,096',
  'land_area': '54.0\xa0sq\xa0mi'},
 {'city': 'Tulsa',
  'state': 'Oklahoma',
  'population': '411,867',
  'land_area': '197.5\xa0sq\xa0mi'},
 {'city': 'Bakersfield',
  'state': 'California',
  'population': '410,647',
  'land_area': '149.8\xa0sq\xa0mi'},
 {'city': 'Tampa',
  'state': 'Florida',
  'population': '398,173',
  'land_area': '114.0\xa0sq\xa0mi'},
 {'city': 'Wichita',
  'state': 'Kansas',
  'population': '396,192',
  'land_area': '162.0\xa0sq\xa0mi'},
 {'city': 'Arlington',
  'state': 'Texas',
  'population': '394,602',
  'land_area': '95.9\xa0sq\xa0mi'},
 {'city': 'Aurora',
  'state': 'Colorado',
  'population': '393,537',
  'land_area': '160.1\xa0sq\xa0mi'},
 {'city': 'New Orleans',
  'state': 'Louisiana',
  'population': '369,749',
  'land_area': '169.5\xa0sq\xa0mi'},
 {'city': 'Cleveland',
  'state': 'Ohio',
  'population': '361,607',
  'land_area': '77.7\xa0sq\xa0mi'},
 {'city': 'Anaheim',
  'state': 'California',
  'population': '344,461',
  'land_area': '50.3\xa0sq\xa0mi'},
 {'city': 'Honolulu',
  'state': 'Hawaii',
  'population': '343,421',
  'land_area': '60.5\xa0sq\xa0mi'},
 {'city': 'Henderson',
  'state': 'Nevada',
  'population': '331,415',
  'land_area': '106.2\xa0sq\xa0mi'},
 {'city': 'Stockton',
  'state': 'California',
  'population': '321,819',
  'land_area': '62.2\xa0sq\xa0mi'},
 {'city': 'Riverside',
  'state': 'California',
  'population': '320,764',
  'land_area': '81.2\xa0sq\xa0mi'},
 {'city': 'Lexington',
  'state': 'Kentucky',
  'population': '320,347',
  'land_area': '283.6\xa0sq\xa0mi'},
 {'city': 'Corpus Christi',
  'state': 'Texas',
  'population': '316,239',
  'land_area': '162.2\xa0sq\xa0mi'},
 {'city': 'Orlando',
  'state': 'Florida',
  'population': '316,081',
  'land_area': '110.6\xa0sq\xa0mi'},
 {'city': 'Irvine',
  'state': 'California',
  'population': '313,685',
  'land_area': '65.6\xa0sq\xa0mi'},
 {'city': 'Cincinnati',
  'state': 'Ohio',
  'population': '309,513',
  'land_area': '77.8\xa0sq\xa0mi'},
 {'city': 'Santa Ana',
  'state': 'California',
  'population': '308,189',
  'land_area': '27.3\xa0sq\xa0mi'},
 {'city': 'Newark',
  'state': 'New Jersey',
  'population': '305,344',
  'land_area': '24.1\xa0sq\xa0mi'},
 {'city': 'Saint Paul',
  'state': 'Minnesota',
  'population': '303,176',
  'land_area': '52.0\xa0sq\xa0mi'},
 {'city': 'Pittsburgh',
  'state': 'Pennsylvania',
  'population': '302,898',
  'land_area': '55.4\xa0sq\xa0mi'},
 {'city': 'Greensboro',
  'state': 'North Carolina',
  'population': '301,115',
  'land_area': '129.6\xa0sq\xa0mi'},
 {'city': 'Lincoln',
  'state': 'Nebraska',
  'population': '292,627',
  'land_area': '97.7\xa0sq\xa0mi'},
 {'city': 'Durham',
  'state': 'North Carolina',
  'population': '291,928',
  'land_area': '112.8\xa0sq\xa0mi'},
 {'city': 'Plano',
  'state': 'Texas',
  'population': '289,547',
  'land_area': '71.7\xa0sq\xa0mi'},
 {'city': 'Anchorage',
  'state': 'Alaska',
  'population': '287,145',
  'land_area': '1,706.8\xa0sq\xa0mi'},
 {'city': 'Jersey City',
  'state': 'New Jersey',
  'population': '286,670',
  'land_area': '14.7\xa0sq\xa0mi'},
 {'city': 'St. Louis',
  'state': 'Missouri',
  'population': '286,578',
  'land_area': '61.7\xa0sq\xa0mi'},
 {'city': 'Chandler',
  'state': 'Arizona',
  'population': '280,711',
  'land_area': '65.3\xa0sq\xa0mi'},
 {'city': 'North Las Vegas',
  'state': 'Nevada',
  'population': '280,543',
  'land_area': '101.3\xa0sq\xa0mi'},
 {'city': 'Chula Vista',
  'state': 'California',
  'population': '279,170',
  'land_area': '49.6\xa0sq\xa0mi'},
 {'city': 'Buffalo',
  'state': 'New York',
  'population': '276,486',
  'land_area': '40.4\xa0sq\xa0mi'},
 {'city': 'Gilbert',
  'state': 'Arizona',
  'population': '275,346',
  'land_area': '68.6\xa0sq\xa0mi'},
 {'city': 'Reno',
  'state': 'Nevada',
  'population': '273,448',
  'land_area': '108.8\xa0sq\xa0mi'},
 {'city': 'Madison',
  'state': 'Wisconsin',
  'population': '272,903',
  'land_area': '79.6\xa0sq\xa0mi'},
 {'city': 'Fort Wayne',
  'state': 'Indiana',
  'population': '267,927',
  'land_area': '110.7\xa0sq\xa0mi'},
 {'city': 'Toledo',
  'state': 'Ohio',
  'population': '266,301',
  'land_area': '80.5\xa0sq\xa0mi'},
 {'city': 'Lubbock',
  'state': 'Texas',
  'population': '263,930',
  'land_area': '134.6\xa0sq\xa0mi'},
 {'city': 'St. Petersburg',
  'state': 'Florida',
  'population': '261,256',
  'land_area': '61.8\xa0sq\xa0mi'},
 {'city': 'Laredo',
  'state': 'Texas',
  'population': '256,187',
  'land_area': '106.5\xa0sq\xa0mi'},
 {'city': 'Irving',
  'state': 'Texas',
  'population': '254,715',
  'land_area': '67.0\xa0sq\xa0mi'},
 {'city': 'Chesapeake',
  'state': 'Virginia',
  'population': '252,488',
  'land_area': '338.5\xa0sq\xa0mi'},
 {'city': 'Glendale',
  'state': 'Arizona',
  'population': '252,136',
  'land_area': '61.6\xa0sq\xa0mi'},
 {'city': 'Winston-Salem',
  'state': 'North Carolina',
  'population': '251,350',
  'land_area': '132.7\xa0sq\xa0mi'},
 {'city': 'Scottsdale',
  'state': 'Arizona',
  'population': '243,050',
  'land_area': '184.0\xa0sq\xa0mi'},
 {'city': 'Garland',
  'state': 'Texas',
  'population': '240,854',
  'land_area': '57.1\xa0sq\xa0mi'},
 {'city': 'Boise',
  'state': 'Idaho',
  'population': '236,634',
  'land_area': '84.0\xa0sq\xa0mi'},
 {'city': 'Norfolk',
  'state': 'Virginia',
  'population': '232,995',
  'land_area': '53.3\xa0sq\xa0mi'},
 {'city': 'Port St. Lucie',
  'state': 'Florida',
  'population': '231,790',
  'land_area': '119.2\xa0sq\xa0mi'},
 {'city': 'Spokane',
  'state': 'Washington',
  'population': '230,160',
  'land_area': '68.8\xa0sq\xa0mi'},
 {'city': 'Richmond',
  'state': 'Virginia',
  'population': '229,395',
  'land_area': '59.9\xa0sq\xa0mi'},
 {'city': 'Fremont',
  'state': 'California',
  'population': '223,871',
  'land_area': '78.3\xa0sq\xa0mi'},
 {'city': 'Huntsville',
  'state': 'Alabama',
  'population': '221,933',
  'land_area': '218.1\xa0sq\xa0mi'},
 {'city': 'Tacoma',
  'state': 'Washington',
  'population': '221,776',
  'land_area': '49.7\xa0sq\xa0mi'},
 {'city': 'Baton Rouge',
  'state': 'Louisiana',
  'population': '221,453',
  'land_area': '86.3\xa0sq\xa0mi'},
 {'city': 'Santa Clarita',
  'state': 'California',
  'population': '221,345',
  'land_area': '70.8\xa0sq\xa0mi'},
 {'city': 'San Bernardino',
  'state': 'California',
  'population': '220,328',
  'land_area': '62.1\xa0sq\xa0mi'},
 {'city': 'Hialeah',
  'state': 'Florida',
  'population': '220,292',
  'land_area': '21.6\xa0sq\xa0mi'},
 {'city': 'Frisco',
  'state': 'Texas',
  'population': '219,587',
  'land_area': '68.6\xa0sq\xa0mi'},
 {'city': 'Modesto',
  'state': 'California',
  'population': '218,069',
  'land_area': '43.0\xa0sq\xa0mi'},
 {'city': 'Cape Coral',
  'state': 'Florida',
  'population': '216,992',
  'land_area': '106.0\xa0sq\xa0mi'},
 {'city': 'Fontana',
  'state': 'California',
  'population': '212,475',
  'land_area': '43.1\xa0sq\xa0mi'},
 {'city': 'Moreno Valley',
  'state': 'California',
  'population': '211,924',
  'land_area': '51.3\xa0sq\xa0mi'},
 {'city': 'Des Moines',
  'state': 'Iowa',
  'population': '211,034',
  'land_area': '88.2\xa0sq\xa0mi'},
 {'city': 'Rochester',
  'state': 'New York',
  'population': '209,352',
  'land_area': '35.8\xa0sq\xa0mi'},
 {'city': 'Fayetteville',
  'state': 'North Carolina',
  'population': '208,873',
  'land_area': '148.3\xa0sq\xa0mi'},
 {'city': 'Yonkers',
  'state': 'New York',
  'population': '208,121',
  'land_area': '18.0\xa0sq\xa0mi'},
 {'city': 'McKinney',
  'state': 'Texas',
  'population': '207,507',
  'land_area': '67.0\xa0sq\xa0mi'},
 {'city': 'Worcester',
  'state': 'Massachusetts',
  'population': '205,319',
  'land_area': '37.4\xa0sq\xa0mi'},
 {'city': 'Salt Lake City',
  'state': 'Utah',
  'population': '204,657',
  'land_area': '110.3\xa0sq\xa0mi'},
 {'city': 'Little Rock',
  'state': 'Arkansas',
  'population': '202,864',
  'land_area': '120.0\xa0sq\xa0mi'},
 {'city': 'Columbus',
  'state': 'Georgia',
  'population': '202,616',
  'land_area': '216.5\xa0sq\xa0mi'},
 {'city': 'Augusta',
  'state': 'Georgia',
  'population': '202,096',
  'land_area': '302.3\xa0sq\xa0mi'},
 {'city': 'Sioux Falls',
  'state': 'South Dakota',
  'population': '202,078',
  'land_area': '79.1\xa0sq\xa0mi'},
 {'city': 'Grand Prairie',
  'state': 'Texas',
  'population': '201,843',
  'land_area': '72.6\xa0sq\xa0mi'},
 {'city': 'Tallahassee',
  'state': 'Florida',
  'population': '201,731',
  'land_area': '100.9\xa0sq\xa0mi'},
 {'city': 'Amarillo',
  'state': 'Texas',
  'population': '201,291',
  'land_area': '102.3\xa0sq\xa0mi'},
 {'city': 'Oxnard',
  'state': 'California',
  'population': '200,415',
  'land_area': '26.5\xa0sq\xa0mi'},
 {'city': 'Peoria',
  'state': 'Arizona',
  'population': '197,866',
  'land_area': '176.1\xa0sq\xa0mi'},
 {'city': 'Overland Park',
  'state': 'Kansas',
  'population': '197,726',
  'land_area': '75.2\xa0sq\xa0mi'},
 {'city': 'Montgomery',
  'state': 'Alabama',
  'population': '196,986',
  'land_area': '159.9\xa0sq\xa0mi'},
 {'city': 'Birmingham',
  'state': 'Alabama',
  'population': '196,910',
  'land_area': '147.0\xa0sq\xa0mi'},
 {'city': 'Grand Rapids',
  'state': 'Michigan',
  'population': '196,908',
  'land_area': '44.8\xa0sq\xa0mi'},
 {'city': 'Knoxville',
  'state': 'Tennessee',
  'population': '195,889',
  'land_area': '98.7\xa0sq\xa0mi'},
 {'city': 'Vancouver',
  'state': 'Washington',
  'population': '194,512',
  'land_area': '48.7\xa0sq\xa0mi'},
 {'city': 'Huntington Beach',
  'state': 'California',
  'population': '194,310',
  'land_area': '27.0\xa0sq\xa0mi'},
 {'city': 'Providence',
  'state': 'Rhode Island',
  'population': '189,563',
  'land_area': '18.4\xa0sq\xa0mi'},
 {'city': 'Brownsville',
  'state': 'Texas',
  'population': '189,382',
  'land_area': '131.5\xa0sq\xa0mi'},
 {'city': 'Glendale',
  'state': 'California',
  'population': '189,221',
  'land_area': '30.5\xa0sq\xa0mi'},
 {'city': 'Akron',
  'state': 'Ohio',
  'population': '188,509',
  'land_area': '61.9\xa0sq\xa0mi'},
 {'city': 'Tempe',
  'state': 'Arizona',
  'population': '185,950',
  'land_area': '39.9\xa0sq\xa0mi'},
 {'city': 'Newport News',
  'state': 'Virginia',
  'population': '184,306',
  'land_area': '69.0\xa0sq\xa0mi'},
 {'city': 'Chattanooga',
  'state': 'Tennessee',
  'population': '184,086',
  'land_area': '142.4\xa0sq\xa0mi'},
 {'city': 'Mobile',
  'state': 'Alabama',
  'population': '183,289',
  'land_area': '139.5\xa0sq\xa0mi'},
 {'city': 'Fort Lauderdale',
  'state': 'Florida',
  'population': '183,146',
  'land_area': '34.6\xa0sq\xa0mi'},
 {'city': 'Cary',
  'state': 'North Carolina',
  'population': '180,388',
  'land_area': '59.2\xa0sq\xa0mi'},
 {'city': 'Shreveport',
  'state': 'Louisiana',
  'population': '180,153',
  'land_area': '107.8\xa0sq\xa0mi'},
 {'city': 'Ontario',
  'state': 'California',
  'population': '179,061',
  'land_area': '50.0\xa0sq\xa0mi'},
 {'city': 'Eugene',
  'state': 'Oregon',
  'population': '177,923',
  'land_area': '44.2\xa0sq\xa0mi'},
 {'city': 'Aurora',
  'state': 'Illinois',
  'population': '177,866',
  'land_area': '45.0\xa0sq\xa0mi'},
 {'city': 'Elk Grove',
  'state': 'California',
  'population': '177,558',
  'land_area': '42.0\xa0sq\xa0mi'},
 {'city': 'Salem',
  'state': 'Oregon',
  'population': '177,487',
  'land_area': '48.8\xa0sq\xa0mi'},
 {'city': 'Santa Rosa',
  'state': 'California',
  'population': '177,181',
  'land_area': '42.5\xa0sq\xa0mi'},
 {'city': 'Clarksville',
  'state': 'Tennessee',
  'population': '176,974',
  'land_area': '99.4\xa0sq\xa0mi'},
 {'city': 'Rancho Cucamonga',
  'state': 'California',
  'population': '176,336',
  'land_area': '40.1\xa0sq\xa0mi'},
 {'city': 'Oceanside',
  'state': 'California',
  'population': '172,199',
  'land_area': '41.3\xa0sq\xa0mi'},
 {'city': 'Springfield',
  'state': 'Missouri',
  'population': '170,067',
  'land_area': '82.4\xa0sq\xa0mi'},
 {'city': 'Pembroke Pines',
  'state': 'Florida',
  'population': '169,876',
  'land_area': '32.7\xa0sq\xa0mi'},
 {'city': 'Garden Grove',
  'state': 'California',
  'population': '169,254',
  'land_area': '18.0\xa0sq\xa0mi'},
 {'city': 'Fort Collins',
  'state': 'Colorado',
  'population': '169,249',
  'land_area': '57.2\xa0sq\xa0mi'},
 {'city': 'Lancaster',
  'state': 'California',
  'population': '169,185',
  'land_area': '94.3\xa0sq\xa0mi'},
 {'city': 'Palmdale',
  'state': 'California',
  'population': '163,463',
  'land_area': '106.1\xa0sq\xa0mi'},
 {'city': 'Murfreesboro',
  'state': 'Tennessee',
  'population': '162,398',
  'land_area': '62.9\xa0sq\xa0mi'},
 {'city': 'Salinas',
  'state': 'California',
  'population': '161,020',
  'land_area': '23.5\xa0sq\xa0mi'},
 {'city': 'Corona',
  'state': 'California',
  'population': '159,567',
  'land_area': '39.9\xa0sq\xa0mi'},
 {'city': 'Killeen',
  'state': 'Texas',
  'population': '159,172',
  'land_area': '54.8\xa0sq\xa0mi'},
 {'city': 'Hayward',
  'state': 'California',
  'population': '156,754',
  'land_area': '45.8\xa0sq\xa0mi'},
 {'city': 'Paterson',
  'state': 'New Jersey',
  'population': '156,661',
  'land_area': '8.4\xa0sq\xa0mi'},
 {'city': 'Macon',
  'state': 'Georgia',
  'population': '156,197',
  'land_area': '249.4\xa0sq\xa0mi'},
 {'city': 'Lakewood',
  'state': 'Colorado',
  'population': '156,120',
  'land_area': '43.5\xa0sq\xa0mi'},
 {'city': 'Alexandria',
  'state': 'Virginia',
  'population': '155,525',
  'land_area': '14.9\xa0sq\xa0mi'},
 {'city': 'Roseville',
  'state': 'California',
  'population': '154,817',
  'land_area': '44.1\xa0sq\xa0mi'},
 {'city': 'Surprise',
  'state': 'Arizona',
  'population': '154,198',
  'land_area': '110.3\xa0sq\xa0mi'},
 {'city': 'Springfield',
  'state': 'Massachusetts',
  'population': '154,064',
  'land_area': '31.9\xa0sq\xa0mi'},
 {'city': 'Charleston',
  'state': 'South Carolina',
  'population': '153,672',
  'land_area': '114.8\xa0sq\xa0mi'},
 {'city': 'Kansas City',
  'state': 'Kansas',
  'population': '153,345',
  'land_area': '124.7\xa0sq\xa0mi'},
 {'city': 'Sunnyvale',
  'state': 'California',
  'population': '153,091',
  'land_area': '22.1\xa0sq\xa0mi'},
 {'city': 'Bellevue',
  'state': 'Washington',
  'population': '152,767',
  'land_area': '33.5\xa0sq\xa0mi'},
 {'city': 'Hollywood',
  'state': 'Florida',
  'population': '152,650',
  'land_area': '27.3\xa0sq\xa0mi'},
 {'city': 'Denton',
  'state': 'Texas',
  'population': '150,353',
  'land_area': '96.4\xa0sq\xa0mi'},
 {'city': 'Escondido',
  'state': 'California',
  'population': '150,270',
  'land_area': '37.3\xa0sq\xa0mi'},
 {'city': 'Joliet',
  'state': 'Illinois',
  'population': '150,033',
  'land_area': '64.5\xa0sq\xa0mi'},
 {'city': 'Naperville',
  'state': 'Illinois',
  'population': '149,936',
  'land_area': '39.1\xa0sq\xa0mi'},
 {'city': 'Bridgeport',
  'state': 'Connecticut',
  'population': '148,377',
  'land_area': '16.1\xa0sq\xa0mi'},
 {'city': 'Savannah',
  'state': 'Georgia',
  'population': '148,004',
  'land_area': '106.8\xa0sq\xa0mi'},
 {'city': 'Mesquite',

In [27]:
#making a dataframe from the list
df_pop = pd.DataFrame(rows)
df_pop

            city          state population    land_area
0       New York       New York  8,335,897  300.5sqmi
1    Los Angeles     California  3,822,238  469.5sqmi
2        Chicago       Illinois  2,665,039  227.7sqmi
3        Houston          Texas  2,302,878  640.4sqmi
4        Phoenix        Arizona  1,644,409  518.0sqmi
..           ...            ...        ...          ...
328       Albany       New York    100,826   21.4sqmi
329     Hesperia     California    100,744   72.7sqmi
330  New Bedford  Massachusetts    100,682   20.0sqmi
331    Davenport           Iowa    100,486   63.8sqmi
332    Daly City     California    100,007    7.6sqmi

[333 rows x 4 columns]

Hints:

- Each city is a row in the table; find all the `<tr>` tags to find all the cities
- Look for the `<td>` tag to see table entries within a row
- The rank column is represented by `<th>` tags, rather than `<td>` tags. So within a row, the first (that is, `[0]`) `<td>` tag corresponds to the city name.

## Aside: Scraping an HTML table with Pandas

The Pandas command `read_html` can be used to scrape information from an HTML table on a webpage.

We can call `read_html` on the URL.

In [28]:
pd.read_html("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population")

[                                                   0
 0           Map all coordinates using: OpenStreetMap
 1  Download coordinates as: KML GPX (all coordina...,
                     Population tables of U.S. cities
 0                                             Cities
 1  Population AreaDensityEthnic identityForeign-b...
 2                                        Urban areas
 3             Populous cities and metropolitan areas
 4                                 Metropolitan areas
 5  563 primary statistical areas175 combined stat...
 6                                        Megaregions
 7  See related population listsNorth American met...
 8  .mw-parser-output .navbar{display:inline;font-...,
                                                    0
 0  Map this section's coordinates using: OpenStre...
 1  Download coordinates as: KML GPX (all coordina...,
     0                               1
 0 NaN                   State capital
 1 NaN              State largest city
 2 NaN  State capital and largest city
 3 NaN                 Federal capital,
      2022 rank         City       State[c]  2022 estimate  2020 census  \
 0            1  New York[d]       New York        8335897      8804190
 1            2  Los Angeles     California        3822238      3898747
 2            3      Chicago       Illinois        2665039      2746388
 3            4      Houston          Texas        2302878      2304580
 4            5      Phoenix        Arizona        1644409      1608139
 ..         ...          ...            ...            ...          ...
 328        329       Albany       New York         100826        99224
 329        330     Hesperia     California         100744        99818
 330        331  New Bedford  Massachusetts         100682       101079
 331        332    Davenport           Iowa         100486       101724
 332        333    Daly City     California         100007       104901

      Change 2020 land area 2020 land area.1 2020 population density  \
 0    5.32%    300.5sqmi        778.3km2            29,298/sqmi
 1    1.96%    469.5sqmi      1,216.0km2             8,304/sqmi
 2    2.96%    227.7sqmi        589.7km2            12,061/sqmi
 3    0.07%    640.4sqmi      1,658.6km2             3,599/sqmi
 4    +2.26%    518.0sqmi      1,341.6km2             3,105/sqmi
 ..      ...            ...              ...                     ...
 328  +1.61%     21.4sqmi         55.4km2             4,637/sqmi
 329  +0.93%     72.7sqmi        188.3km2             1,373/sqmi
 330  0.39%     20.0sqmi         51.8km2             5,054/sqmi
 331  1.22%     63.8sqmi        165.2km2             1,594/sqmi
 332  4.67%      7.6sqmi         19.7km2            13,803/sqmi

     2020 population density.1  \
 0                  11,312/km2
 1                   3,206/km2
 2                   4,657/km2
 3                   1,390/km2
 4                   1,199/km2
 ..                        ...
 328                 1,790/km2
 329                   530/km2
 330                 1,951/km2
 331                   615/km2
 332                 5,329/km2

                                               Location
 0    .mw-parser-output .geo-default,.mw-parser-outp...
 1                3401N 11825W / 34.02N 118.41W
 2                  4150N 8741W / 41.84N 87.68W
 3                  2947N 9523W / 29.79N 95.39W
 4                3334N 11205W / 33.57N 112.09W
 ..                                                 ...
 328                4240N 7348W / 42.67N 73.80W
 329              3424N 11719W / 34.40N 117.32W
 330                4140N 7056W / 41.66N 70.94W
 331                4134N 9036W / 41.56N 90.60W
 332              3741N 12228W / 37.69N 122.47W

 [333 rows x 11 columns],
         Population  Number of municipal governments
 0       1,000,000+                                9
 1  700,000999,999                               10
 2  500,000699,999                               18
 3  400,000499,999                               11
 4  300,000399,999                               21
 5  200,000299,999                               56
 6  100,000199,999                              208
 7            Total                              333,
                                          State  Number of listed cities
 0                                           CA                       75
 1                                           TX                       42
 2                                           FL                       22
 3                                       AZ, CO                       12
 4                                           NC                       10
 5                                       MA, WA                        9
 6                                       GA, IL                        8
 7                                   MI, NJ, VA                        7
 8                       MO, IN, NY, OH, OR, TN                        6
 9                           AL, CT, KS, NV, UT                        5
 10                                      LA, OK                        4
 11                  IA, ID, MN, NM, PA, SC, WI                        3
 12                                      KY, NE                        2
 13  AK, AR, DC, HI, MD, MS, MT, ND, NH, RI, SD                        1
 14                          DE, ME, VT, WV, WY                        0,
                                                    0
 0  Map this section's coordinates using: OpenStre...
 1  Download coordinates as: KML GPX (all coordina...,
    2022 rank Municipio  2022 estimate  2020 census  Change 2020 land area  \
 0          1  San Juan         334776       342259  2.19%     39.8sqmi
 1          2   Bayamn         181577       185187  1.95%     27.0sqmi
 2          3  Carolina         151571       154815  2.10%     20.7sqmi
 3          4     Ponce         132138       137491  3.89%     28.4sqmi
 4          5    Caguas         125136       127244  1.66%     10.9sqmi

   2020 land area.1 2020 population density 2020 population density.1  \
 0        103.1km2             8,599/sqmi                 3,320/km2
 1         69.9km2             6,859/sqmi                 2,648/km2
 2         53.6km2             7,479/sqmi                 2,888/km2
 3         73.6km2             4,841/sqmi                 1,869/km2
 4         28.2km2            11,674/sqmi                 4,507/km2

                               Location
 0  1824N 6604W / 18.40N 66.06W
 1  1823N 6610W / 18.38N 66.16W
 2  1825N 6559W / 18.41N 65.98W
 3  1800N 6637W / 18.00N 66.62W
 4  1814N 6602W / 18.23N 66.04W  ,
                                                    0
 0  Map this section's coordinates using: OpenStre...
 1  Download coordinates as: KML GPX (all coordina...,
    Census-designated place       State  2020 census  2010 census    Change  \
 0                Arlington    Virginia       238643       207627   +14.94%
 1               Enterprise      Nevada       221831       108481  +104.49%
 2            Spring Valley      Nevada       215597       178395   +20.85%
 3            Sunrise Manor      Nevada       205618       189372    +8.58%
 4                 Paradise      Nevada       191238       223167   14.31%
 5                 Metairie   Louisiana       143507       138481    +3.63%
 6         East Los Angeles  California       118786       126496    6.10%
 7                  Brandon     Florida       114626       103483   +10.77%
 8            The Woodlands       Texas       114436        93847   +21.94%
 9             Lehigh Acres     Florida       114287        86784   +31.69%
 10             Spring Hill     Florida       113568        98621   +15.16%
 11               Riverview     Florida       107396        71050   +51.16%
 12                Columbia    Maryland       104681        99615    +5.09%
 13         Highlands Ranch    Colorado       103444        96713    +6.96%

    2020 land area 2020 land area.1 2020 population density  \
 0      26.0sqmi       67.340km2             9,179/sqmi
 1      66.0sqmi      170.939km2             3,361/sqmi
 2      35.5sqmi       91.945km2             6,073/sqmi
 3      33.7sqmi       87.283km2             6,101/sqmi
 4      42.4sqmi      109.815km2             4,510/sqmi
 5      23.3sqmi       60.347km2             6,159/sqmi
 6       7.5sqmi       19.425km2            15,838/sqmi
 7      33.1sqmi       85.729km2             3,463/sqmi
 8      43.3sqmi      112.146km2             2,643/sqmi
 9      92.7sqmi      240.092km2             1,233/sqmi
 10     59.9sqmi      155.140km2             1,896/sqmi
 11     46.2sqmi      119.657km2             2,325/sqmi
 12     31.9sqmi       82.621km2             3,282/sqmi
 13     24.3sqmi       62.937km2             4,257/sqmi

    2020 population density.1                               Location
 0                  3,544/km2    3853N 7706W / 38.88N 77.10W
 1                  1,298/km2  3601N 11514W / 36.01N 115.23W
 2                  2,345/km2  3606N 11516W / 36.10N 115.26W
 3                  2,356/km2  3611N 11503W / 36.18N 115.05W
 4                  1,740/km2  3605N 11508W / 36.09N 115.14W
 5                  2,378/km2    3000N 9011W / 30.00N 90.18W
 6                  6,115/km2  3402N 11810W / 34.03N 118.17W
 7                  1,337/km2    2756N 8218W / 27.94N 82.30W
 8                  1,020/km2    3010N 9531W / 30.17N 95.51W
 9                    476/km2    2637N 8138W / 26.61N 81.64W
 10                   732/km2    2829N 8232W / 28.48N 82.53W
 11                   898/km2    2749N 8218W / 27.82N 82.30W
 12                 1,267/km2    3912N 7652W / 39.20N 76.86W
 13                 1,644/km2  3932N 10458W / 39.54N 104.97W  ,
                 City          State  2022 estimate  2020 census  \
 0          Allegheny   Pennsylvania            NaN          NaN
 1           Brooklyn       New York            NaN          NaN
 2             Camden     New Jersey        70996.0      71791.0
 3             Canton           Ohio        69671.0      70872.0
 4     Citrus Heights     California        86433.0      87583.0
 5   Clinton Township       Michigan        99448.0     100513.0
 6             Duluth      Minnesota        86619.0      86697.0
 7               Erie   Pennsylvania        93511.0      94831.0
 8         Fall River  Massachusetts        93682.0      94000.0
 9        Federal Way     Washington        97863.0     101030.0
 10             Flint       Michigan        79854.0      81252.0
 11              Gary        Indiana        67972.0      69093.0
 12           Hammond        Indiana        76575.0      77879.0
 13           Livonia       Michigan        93779.0      95535.0
 14          Longmont       Colorado        98687.0      98885.0
 15     Niagara Falls       New York        47993.0      48671.0
 16           Norwalk     California        98537.0     102773.0
 17             Parma           Ohio        79358.0      81146.0
 18        Portsmouth       Virginia        97029.0      97915.0
 19           Reading   Pennsylvania        94858.0      95112.0
 20           Roanoke       Virginia        97847.0     100011.0
 21          Scranton   Pennsylvania        75848.0      76328.0
 22        Somerville  Massachusetts        79762.0      81045.0
 23        St. Joseph       Missouri        70656.0      72473.0
 24           Trenton     New Jersey        89661.0      90871.0
 25             Utica       New York        64081.0      65283.0
 26        Wilmington       Delaware        71569.0      70898.0
 27        Youngstown           Ohio        59144.0      60068.0

     Peak population Percent decline from  peak population  \
 0            129896                                   NaN
 1            806343                                   NaN
 2            124555                               42.36%
 3            116912                               39.38%
 4            107439                               18.48%
 5            100513                                   NaN
 6            107312                               19.21%
 7            138440                               31.50%
 8            120485                               21.98%
 9            101030                                   NaN
 10           196940                               58.74%
 11           178320                               61.25%
 12           111698                               30.28%
 13           110109                               13.24%
 14           100758                                1.86%
 15           102394                               52.47%
 16           105549                                2.63%
 17           100216                               19.03%
 18           114773                               14.69%
 19           111171                               14.45%
 20           100220                                0.21%
 21           143333                               46.75%
 22           103908                               22.00%
 23           102979                               29.62%
 24           128009                               29.01%
 25           101740                               35.83%
 26           112504                               36.98%
 27           170002                               64.67%

                                                 Notes
 0   Peak as an independent city, annexed by Pittsb...
 1   Peak as an independent city, consolidated with...
 2                    Peak in 1950, 1.11% since 2020.
 3                    Peak in 1950, 1.69% since 2020.
 4                    Peak in 1990, 1.31% since 2020.
 5                    Peak in 2020, 1.06% since 2020.
 6                    Peak in 1960, 0.09% since 2020.
 7                    Peak in 1960, 1.39% since 2020.
 8                    Peak in 1920, 0.34% since 2020.
 9                    Peak in 2020, 3.13% since 2020.
 10                   Peak in 1960, 1.72% since 2020.
 11                   Peak in 1960, 1.62% since 2020.
 12                   Peak in 1960, 1.67% since 2020.
 13                   Peak in 1970, 1.84% since 2020.
 14   Peak in 2021 (estimate only), 0.20% since 2020.
 15                   Peak in 1960, 1.39% since 2020.
 16                   Peak in 2010, 4.12% since 2020.
 17                   Peak in 1970, 2.20% since 2020.
 18                   Peak in 1960, 0.90% since 2020.
 19                   Peak in 1930, 0.27% since 2020.
 20                   Peak in 1980, 2.16% since 2020.
 21                   Peak in 1930, 0.63% since 2020.
 22                   Peak in 1930, 1.58% since 2020.
 23  Official peak in 1900, but there is evidence t...
 24                   Peak in 1950, 1.33% since 2020.
 25                   Peak in 1930, 1.84% since 2020.
 26                   Peak in 1940, +0.95% since 2020.
 27                   Peak in 1930, 1.54% since 2020.  ,
   vteThe 100 most populous cities of the United States  \
 0  New York, New York Los Angeles, California Chi...
 1                                                NaN
 2  Cities ranked by United States Census Bureau p...

   vteThe 100 most populous cities of the United States.1  \
 0  New York, New York Los Angeles, California Chi...
 1  New York, New York Los Angeles, California Chi...
 2  Cities ranked by United States Census Bureau p...

                                           Unnamed: 2  \
 0                                                NaN
 1  Portland, Oregon Detroit, Michigan Louisville,...
 2                                                NaN

                                           Unnamed: 3  \
 0                                                NaN
 1  Aurora, Colorado Tampa, Florida New Orleans, L...
 2                                                NaN

                                           Unnamed: 4
 0                                                NaN
 1  Chandler, Arizona Chula Vista, California Buff...
 2                                                NaN  ,
     0                                                  1  \
 0 NaN  New York, New York Los Angeles, California Chi...

                                                    2  \
 0  Portland, Oregon Detroit, Michigan Louisville,...

                                                    3  \
 0  Aurora, Colorado Tampa, Florida New Orleans, L...

                                                    4
 0  Chandler, Arizona Chula Vista, California Buff...  ]

However, this scrapes all the tables on the webpage, not just the one we want. As with Beautiful Soup, we can narrow the search by specifying the table attributes.

In [29]:
pd.read_html("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population", attrs = {'class': 'wikitable sortable', "style": "text-align:center"})

[     2022 rank         City       State[c]  2022 estimate  2020 census  \
 0            1  New York[d]       New York        8335897      8804190
 1            2  Los Angeles     California        3822238      3898747
 2            3      Chicago       Illinois        2665039      2746388
 3            4      Houston          Texas        2302878      2304580
 4            5      Phoenix        Arizona        1644409      1608139
 ..         ...          ...            ...            ...          ...
 328        329       Albany       New York         100826        99224
 329        330     Hesperia     California         100744        99818
 330        331  New Bedford  Massachusetts         100682       101079
 331        332    Davenport           Iowa         100486       101724
 332        333    Daly City     California         100007       104901

      Change 2020 land area 2020 land area.1 2020 population density  \
 0    5.32%    300.5sqmi        778.3km2            29,298/sqmi
 1    1.96%    469.5sqmi      1,216.0km2             8,304/sqmi
 2    2.96%    227.7sqmi        589.7km2            12,061/sqmi
 3    0.07%    640.4sqmi      1,658.6km2             3,599/sqmi
 4    +2.26%    518.0sqmi      1,341.6km2             3,105/sqmi
 ..      ...            ...              ...                     ...
 328  +1.61%     21.4sqmi         55.4km2             4,637/sqmi
 329  +0.93%     72.7sqmi        188.3km2             1,373/sqmi
 330  0.39%     20.0sqmi         51.8km2             5,054/sqmi
 331  1.22%     63.8sqmi        165.2km2             1,594/sqmi
 332  4.67%      7.6sqmi         19.7km2            13,803/sqmi

     2020 population density.1  \
 0                  11,312/km2
 1                   3,206/km2
 2                   4,657/km2
 3                   1,390/km2
 4                   1,199/km2
 ..                        ...
 328                 1,790/km2
 329                   530/km2
 330                 1,951/km2
 331                   615/km2
 332                 5,329/km2

                                               Location
 0    .mw-parser-output .geo-default,.mw-parser-outp...
 1                3401N 11825W / 34.02N 118.41W
 2                  4150N 8741W / 41.84N 87.68W
 3                  2947N 9523W / 29.79N 95.39W
 4                3334N 11205W / 33.57N 112.09W
 ..                                                 ...
 328                4240N 7348W / 42.67N 73.80W
 329              3424N 11719W / 34.40N 117.32W
 330                4140N 7056W / 41.66N 70.94W
 331                4134N 9036W / 41.56N 90.60W
 332              3741N 12228W / 37.69N 122.47W

 [333 rows x 11 columns],
    2022 rank Municipio  2022 estimate  2020 census  Change 2020 land area  \
 0          1  San Juan         334776       342259  2.19%     39.8sqmi
 1          2   Bayamn         181577       185187  1.95%     27.0sqmi
 2          3  Carolina         151571       154815  2.10%     20.7sqmi
 3          4     Ponce         132138       137491  3.89%     28.4sqmi
 4          5    Caguas         125136       127244  1.66%     10.9sqmi

   2020 land area.1 2020 population density 2020 population density.1  \
 0        103.1km2             8,599/sqmi                 3,320/km2
 1         69.9km2             6,859/sqmi                 2,648/km2
 2         53.6km2             7,479/sqmi                 2,888/km2
 3         73.6km2             4,841/sqmi                 1,869/km2
 4         28.2km2            11,674/sqmi                 4,507/km2

                               Location
 0  1824N 6604W / 18.40N 66.06W
 1  1823N 6610W / 18.38N 66.16W
 2  1825N 6559W / 18.41N 65.98W
 3  1800N 6637W / 18.00N 66.62W
 4  1814N 6602W / 18.23N 66.04W  ,
    Census-designated place       State  2020 census  2010 census    Change  \
 0                Arlington    Virginia       238643       207627   +14.94%
 1               Enterprise      Nevada       221831       108481  +104.49%
 2            Spring Valley      Nevada       215597       178395   +20.85%
 3            Sunrise Manor      Nevada       205618       189372    +8.58%
 4                 Paradise      Nevada       191238       223167   14.31%
 5                 Metairie   Louisiana       143507       138481    +3.63%
 6         East Los Angeles  California       118786       126496    6.10%
 7                  Brandon     Florida       114626       103483   +10.77%
 8            The Woodlands       Texas       114436        93847   +21.94%
 9             Lehigh Acres     Florida       114287        86784   +31.69%
 10             Spring Hill     Florida       113568        98621   +15.16%
 11               Riverview     Florida       107396        71050   +51.16%
 12                Columbia    Maryland       104681        99615    +5.09%
 13         Highlands Ranch    Colorado       103444        96713    +6.96%

    2020 land area 2020 land area.1 2020 population density  \
 0      26.0sqmi       67.340km2             9,179/sqmi
 1      66.0sqmi      170.939km2             3,361/sqmi
 2      35.5sqmi       91.945km2             6,073/sqmi
 3      33.7sqmi       87.283km2             6,101/sqmi
 4      42.4sqmi      109.815km2             4,510/sqmi
 5      23.3sqmi       60.347km2             6,159/sqmi
 6       7.5sqmi       19.425km2            15,838/sqmi
 7      33.1sqmi       85.729km2             3,463/sqmi
 8      43.3sqmi      112.146km2             2,643/sqmi
 9      92.7sqmi      240.092km2             1,233/sqmi
 10     59.9sqmi      155.140km2             1,896/sqmi
 11     46.2sqmi      119.657km2             2,325/sqmi
 12     31.9sqmi       82.621km2             3,282/sqmi
 13     24.3sqmi       62.937km2             4,257/sqmi

    2020 population density.1                               Location
 0                  3,544/km2    3853N 7706W / 38.88N 77.10W
 1                  1,298/km2  3601N 11514W / 36.01N 115.23W
 2                  2,345/km2  3606N 11516W / 36.10N 115.26W
 3                  2,356/km2  3611N 11503W / 36.18N 115.05W
 4                  1,740/km2  3605N 11508W / 36.09N 115.14W
 5                  2,378/km2    3000N 9011W / 30.00N 90.18W
 6                  6,115/km2  3402N 11810W / 34.03N 118.17W
 7                  1,337/km2    2756N 8218W / 27.94N 82.30W
 8                  1,020/km2    3010N 9531W / 30.17N 95.51W
 9                    476/km2    2637N 8138W / 26.61N 81.64W
 10                   732/km2    2829N 8232W / 28.48N 82.53W
 11                   898/km2    2749N 8218W / 27.82N 82.30W
 12                 1,267/km2    3912N 7652W / 39.20N 76.86W
 13                 1,644/km2  3932N 10458W / 39.54N 104.97W  ]

This still returns 3 tables. As we remarked above, the table that we want is the first one (see `[0]` below).

In [30]:
df_cities2 = pd.read_html("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population", attrs = {'class': 'wikitable sortable', "style": "text-align:center"})[0]
df_cities2

,2022 rank,City,State[c],2022 estimate,2020 census,Change,2020 land area,2020 land area.1,2020 population density,2020 population density.1,Location
0,1,New York[d],New York,8335897,8804190,5.32%,300.5sqmi,778.3km2,"29,298/sqmi","11,312/km2",".mw-parser-output .geo-default,.mw-parser-outp..."
1,2,Los Angeles,California,3822238,3898747,1.96%,469.5sqmi,"1,216.0km2","8,304/sqmi","3,206/km2",3401N 11825W / 34.02N 118.41W
2,3,Chicago,Illinois,2665039,2746388,2.96%,227.7sqmi,589.7km2,"12,061/sqmi","4,657/km2",4150N 8741W / 41.84N 87.68W
3,4,Houston,Texas,2302878,2304580,0.07%,640.4sqmi,"1,658.6km2","3,599/sqmi","1,390/km2",2947N 9523W / 29.79N 95.39W
4,5,Phoenix,Arizona,1644409,1608139,+2.26%,518.0sqmi,"1,341.6km2","3,105/sqmi","1,199/km2",3334N 11205W / 33.57N 112.09W
...,...,...,...,...,...,...,...,...,...,...,...
328,329,Albany,New York,100826,99224,+1.61%,21.4sqmi,55.4km2,"4,637/sqmi","1,790/km2",4240N 7348W / 42.67N 73.80W
329,330,Hesperia,California,100744,99818,+0.93%,72.7sqmi,188.3km2,"1,373/sqmi",530/km2,3424N 11719W / 34.40N 117.32W
330,331,New Bedford,Massachusetts,100682,101079,0.39%,20.0sqmi,51.8km2,"5,054/sqmi","1,951/km2",4140N 7056W / 41.66N 70.94W
331,332,Davenport,Iowa,100486,101724,1.22%,63.8sqmi,165.2km2,"1,594/sqmi",615/km2,4134N 9036W / 41.56N 90.60W
332,333,Daly City,California,100007,104901,4.67%,7.6sqmi,19.7km2,"13,803/sqmi","5,329/km2",3741N 12228W / 37.69N 122.47W

Wait, that seemed much easier than using Beautiful Soup, and it returned a data frame, and we even got for free some formatting like removing the commas from the population! Why didn't we just use `read_html` in the first place? It's true the `read_html` works well when scraping information from an HTML *table*. Unfortunately, you often want to scrape information from a webpage that isn't conveniently stored in an HTML table, in which case `read_html` won't work. (It only searches for `<table>`, `<th>`, `<tr>`, and `<td>` tags, but there are many other HTML tags.) Though Beautiful Soup is not as simple as `read_html`, it is more flexible and thus more widely applicable.

## Scraping information that is NOT in a `<table>` with Beautiful Soup

The Cal Poly course catalog http://catalog.calpoly.edu/collegesandprograms/collegeofsciencemathematics/statistics/#courseinventory contains a list of courses offered by the Statistics department. **You will scrape this website to obtain a Pandas data frame with one row for each DATA or STAT course and two columns: course name and number (e.g, DATA 301. Introduction to Data Science) and term typically offered (e.g., Term Typically Offered: F, W, SP).**

Note: Pandas `read_html` is not help here since the courses are not stored in a `<table>.`

In [31]:
#looking at how the data is with the read_html
pd.read_html("http://catalog.calpoly.edu/collegesandprograms/collegeofsciencemathematics/statistics/#courseinventory")

[                                        Program name   Program type
 0                              Actuarial Preparation          Minor
 1  Cross Disciplinary Studies Minor in Bioinforma...          Minor
 2   Cross Disciplinary Studies Minor in Data Science          Minor
 3                                         Statistics  BS, MS, Minor]


Notes/suggestions:


- Inspect the page source as you write your code
- The courses are not stored in a `<table>`. How are they stored?
- You will need to write a loop to get the information for all courses, but you might want to try just scraping the info for DATA 100 first
- What kind of tag is the course name stored in? What is the `class` of the tag?
- What kind of tag is the quarter(s) the course is offered stored in? What is the `class` of the tag? Is this the only tag of this type with the class? How will you get the one you want?
- You don't have to remove the number of units (e.g., 4 units) from the course name and number, but you can try it if you want
- You will need to pull the text from the tag. If `.text` returns text with "\n" at the end, try `get_text(strip = True)` instead of `text`
- Don't forget to convert to a Pandas Data Frame; it should have 74 rows and 2 columns
- The goal of this exercise is just to create the Data Frame. If you were going to use it then you might need to clean the data first. (You can use Beautiful Soup to do some of the cleaning for you, but that goes beyond our scope.)

In [32]:
#making the request for the page
res = requests.get("http://catalog.calpoly.edu/collegesandprograms/collegeofsciencemathematics/statistics/#courseinventory")

#making a soup with that request from the page with parsing
soup2 = BeautifulSoup(res.content, 'html.parser')

In [33]:
#visualizing one of the divs so we can see what attributes to look for
div = soup2.find_all("div", attrs={"class": "courseblock"})[0]
div

<div class="courseblock">
<p class="courseblocktitle"><strong>DATA100. Data Science for All I.
<span class="courseblockhours">4 units
</span></strong></p><div class="noindent courseextendedwrap">
<p class="noindent">Term Typically Offered: F, W, SP</p><p class="noindent">2020-21 or later catalog: GE Area B4</p><p class="noindent">2019-20 or earlier catalog: GE Area B4</p><p>Prerequisite: <a class="bubblelink code" href="/search/?P=MATH%20115" onclick="return showCourse(this, 'MATH 115');" title="MATH115">MATH115</a>, <a class="bubblelink code" href="/search/?P=MATH%20116" onclick="return showCourse(this, 'MATH 116');" title="MATH116">MATH116</a>, <a class="bubblelink code" href="/search/?P=MATH%20118" onclick="return showCourse(this, 'MATH 118');" title="MATH118">MATH118</a>, or Appropriate Math Placement Level.</p></div>
<div class="courseblockdesc">
<p>Basic approaches for answering questions using data.  Emphasis on working with tabular data in spreadsheet software to provide insights via descriptions and visualizations.  Methods of acquiring data.  Sampling bias, variability, and multi-variable thinking.  Introduction to data modeling and data ethics.  Intended for students in non-computing disciplines.  Not open to students with credit in <a class="bubblelink code" href="/search/?P=STAT%20150" onclick="return showCourse(this, 'STAT 150');" title="STAT150">STAT150</a>, <a class="bubblelink code" href="/search/?P=STAT%20252" onclick="return showCourse(this, 'STAT 252');" title="STAT252">STAT252</a>, <a class="bubblelink code" href="/search/?P=STAT%20302" onclick="return showCourse(this, 'STAT 302');" title="STAT302">STAT302</a>, <a class="bubblelink code" href="/search/?P=STAT%20312" onclick="return showCourse(this, 'STAT 312');" title="STAT312">STAT312</a>, or <a class="bubblelink code" href="/search/?P=STAT%20313" onclick="return showCourse(this, 'STAT 313');" title="STAT313">STAT313</a>.  Course may be offered in a classroom-based, online, or hybrid format.  4 lectures.  Fulfills GE Area B4 (GE Area B1 for students on the 2019-20 or earlier catalogs); a grade of C- or better is required in one course in this GE area.</p>
</div>
</div>

In [34]:
#creating an empty list to put our scraped items in
rows1 = []

#iterating through the div to get the information that we need
for i in soup2.find_all("div", attrs={"class": "courseblock"})[0:]:

  #looking through the div finding p with specified attributes to find classes
  class_chunk = i.find("p", attrs={"class": "courseblocktitle"})
  dummy1 = class_chunk.get_text(strip = True)

  #looking through the div finding p with specified attributes to find terms
  cells_term = i.find("p", attrs={"class": "noindent"})
  dummy2 = cells_term.get_text(strip = True)

  #filling up the list with the web scraped data
  rows1.append({"class": dummy1, "term": dummy2})

In [35]:
#visualizing the list
rows1

[{'class': 'DATA\xa0100. Data Science for All I.4 units',
  'term': 'Term Typically Offered: F, W, SP'},
 {'class': 'DATA\xa0301. Introduction to Data Science.4 units',
  'term': 'Term Typically Offered: F, W, SP'},
 {'class': 'DATA\xa0401. Data Science Process and Ethics.3 units',
  'term': 'Term Typically Offered: F'},
 {'class': 'DATA\xa0402. Mathematical Foundations of Data Science.3 units',
  'term': 'Term Typically Offered: F'},
 {'class': 'DATA\xa0403. Data Science Projects Laboratory.1 unit',
  'term': 'Term Typically Offered: F'},
 {'class': 'DATA\xa0441. Bioinformatics Capstone I.2 units',
  'term': 'Term Typically Offered: W'},
 {'class': 'DATA\xa0442. Bioinformatics Capstone II.2 units',
  'term': 'Term Typically Offered: SP'},
 {'class': 'DATA\xa0451. Data Science Capstone I.2 units',
  'term': 'Term Typically Offered: W'},
 {'class': 'DATA\xa0452. Data Science Capstone II.2 units',
  'term': 'Term Typically Offered: SP'},
 {'class': 'DATA\xa0472. Data Science Seminar.1 unit',
  'term': 'Term Typically Offered: F, W, SP'},
 {'class': 'STAT\xa0130. Introduction to Statistical Reasoning.4 units',
  'term': 'Term Typically Offered: F, W, SP'},
 {'class': 'STAT\xa0150. Introduction to the Discipline of Statistics.2 units',
  'term': 'Term Typically Offered: F'},
 {'class': 'STAT\xa0200. Special Problems for Undergraduates.1-2 units',
  'term': 'Term Typically Offered: F, W, SP'},
 {'class': 'STAT\xa0217. Introduction to Statistical Concepts and Methods.4 units',
  'term': 'Term Typically Offered: F,W,SP,SU'},
 {'class': 'STAT\xa0218. Applied Statistics for the Life Sciences.4 units',
  'term': 'Term Typically Offered: F,W,SP,SU'},
 {'class': 'STAT\xa0251. Statistical Inference for Management I.4 units',
  'term': 'Term Typically Offered: F, W, SP'},
 {'class': 'STAT\xa0252. Statistical Inference for Management II.5 units',
  'term': 'Term Typically Offered: F,W,SP,SU'},
 {'class': 'STAT\xa0270. Selected Topics.1-4 units',
  'term': 'Term Typically Offered: TBD'},
 {'class': 'STAT\xa0301. Statistics I.4 units',
  'term': 'Term Typically Offered: F, W'},
 {'class': 'STAT\xa0302. Statistics II.4 units',
  'term': 'Term Typically Offered: W, SP'},
 {'class': 'STAT\xa0305. Introduction to Probability and Simulation.4 units',
  'term': 'Term Typically Offered: F, W'},
 {'class': 'STAT\xa0312. Statistical Methods for Engineers.4 units',
  'term': 'Term Typically Offered: F,W,SP,SU'},
 {'class': 'STAT\xa0313. Applied Experimental Design and Regression Models.4 units',
  'term': 'Term Typically Offered: F, W, SP'},
 {'class': 'STAT\xa0314. Statistical Methods for Food Science.4 units',
  'term': 'Term Typically Offered: F, W'},
 {'class': 'STAT\xa0321. Probability and Statistics for Engineers and Scientists.4 units',
  'term': 'Term Typically Offered: F, W, SP'},
 {'class': 'STAT\xa0323. Design and Analysis of Experiments I.4 units',
  'term': 'Term Typically Offered: W, SP'},
 {'class': 'STAT\xa0324. Applied Regression Analysis.4 units',
  'term': 'Term Typically Offered: F, W, SP'},
 {'class': 'STAT\xa0330. Statistical Computing with SAS.4 units',
  'term': 'Term Typically Offered: F, W'},
 {'class': 'STAT\xa0331. Statistical Computing with R.4 units',
  'term': 'Term Typically Offered: F,W,SP,SU'},
 {'class': 'STAT\xa0334. Applied Linear Models.4 units',
  'term': 'Term Typically Offered: W, SP'},
 {'class': 'STAT\xa0350. Probability and Random Processes for Engineers.4 units',
  'term': 'Term Typically Offered: F, W, SP'},
 {'class': 'STAT\xa0365. Statistical Communication.2 units',
  'term': 'Term Typically Offered: SP'},
 {'class': 'STAT\xa0400. Special Problems for Advanced Undergraduates.1-4 units',
  'term': 'Term Typically Offered: F, W, SP'},
 {'class': 'STAT\xa0405. Applied Probability Models.4 units',
  'term': 'Term Typically Offered: TBD'},
 {'class': 'STAT\xa0410. Statistics Education: Pedagogy, Content, Technology, and Assessment.4 units',
  'term': 'Term Typically Offered: W'},
 {'class': 'STAT\xa0414. Multilevel and Mixed Modeling.4 units',
  'term': 'Term Typically Offered: F'},
 {'class': 'STAT\xa0415. Bayesian Reasoning and Methods.4 units',
  'term': 'Term Typically Offered: W'},
 {'class': 'STAT\xa0416. Statistical Analysis of Time Series.4 units',
  'term': 'Term Typically Offered: F'},
 {'class': 'STAT\xa0417. Survival Analysis Methods.4 units',
  'term': 'Term Typically Offered: W'},
 {'class': 'STAT\xa0418. Categorical Data Analysis.4 units',
  'term': 'Term Typically Offered: W'},
 {'class': 'STAT\xa0419. Applied Multivariate Statistics.4 units',
  'term': 'Term Typically Offered: W, SP'},
 {'class': 'STAT\xa0421. Survey Sampling and Methodology.4 units',
  'term': 'Term Typically Offered: F'},
 {'class': 'STAT\xa0423. Design and Analysis of Experiments II.4 units',
  'term': 'Term Typically Offered: SP'},
 {'class': 'STAT\xa0425. Probability Theory.4 units',
  'term': 'Term Typically Offered: F'},
 {'class': 'STAT\xa0426. Estimation and Sampling Theory.4 units',
  'term': 'Term Typically Offered: W'},
 {'class': 'STAT\xa0427. Mathematical Statistics.4 units',
  'term': 'Term Typically Offered: SP'},
 {'class': 'STAT\xa0431. Advanced Statistical Computing with R.4 units',
  'term': 'Term Typically Offered: TBD'},
 {'class': 'STAT\xa0434. Statistical Learning: Methods and Applications.4 units',
  'term': 'Term Typically Offered: SP'},
 {'class': 'STAT\xa0440. SAS Certification Preparation.2 units',
  'term': 'Term Typically Offered: W'},
 {'class': 'STAT\xa0441. SAS Advanced Certification Preparation.2 units',
  'term': 'Term Typically Offered: SP'},
 {'class': 'STAT\xa0461. Senior Project I.1 unit',
  'term': 'Term Typically Offered: F, W, SP'},
 {'class': 'STAT\xa0462. Senior Project II.2 units',
  'term': 'Term Typically Offered: F, W, SP'},
 {'class': 'STAT\xa0465. Statistical Consulting.4 units',
  'term': 'Term Typically Offered: TBD'},
 {'class': 'STAT\xa0466. Senior Project - Statistical Consulting.4 units',
  'term': 'Term Typically Offered: SP'},
 {'class': 'STAT\xa0470. Selected Advanced Topics.1-4 units',
  'term': 'Term Typically Offered: TBD'},
 {'class': 'STAT\xa0485. Cooperative Education Experience.6 units',
  'term': 'Term Typically Offered: F, W, SP'},
 {'class': 'STAT\xa0495. Cooperative Education Experience.12 units',
  'term': 'Term Typically Offered: F, W, SP'},
 {'class': 'STAT\xa0500. Independent Study.1-4 units',
  'term': 'Term Typically Offered: F, W, SP'},
 {'class': 'STAT\xa0511. Statistical Methods.4 units',
  'term': 'Term Typically Offered: F'},
 {'class': 'STAT\xa0513. Applied Experimental Design and Regression Models.4 units',
  'term': 'Term Typically Offered: F, W, SP'},
 {'class': 'STAT\xa0523. Design and Analysis of Experiments I.4 units',
  'term': 'Term Typically Offered: W, SP'},
 {'class': 'STAT\xa0524. Applied Regression Analysis.4 units',
  'term': 'Term Typically Offered: F, W, SP'},
 {'class': 'STAT\xa0530. Statistical Computing with SAS.4 units',
  'term': 'Term Typically Offered: F, W'},
 {'class': 'STAT\xa0531. Statistical Computing with R.4 units',
  'term': 'Term Typically Offered: F, W, SP'},
 {'class': 'STAT\xa0541. Advanced Statistical Computing with R.4 units',
  'term': 'Term Typically Offered: TBD'},
 {'class': 'STAT\xa0542. Statistical Methods for Engineers.4 units',
  'term': 'Term Typically Offered: TBD'},
 {'class': 'STAT\xa0543. Advanced Design and Analysis of Experiments.4 units',
  'term': 'Term Typically Offered: SP'},
 {'class': 'STAT\xa0545. Applied Stochastic Processes.4 units',
  'term': 'Term Typically Offered: W'},
 {'class': 'STAT\xa0550. Generalized Linear Models.4 units',
  'term': 'Term Typically Offered: W'},
 {'class': 'STAT\xa0551. Statistical Learning with R.4 units',
  'term': 'Term Typically Offered: F'},
 {'class': 'STAT\xa0566. Graduate Consulting Practicum.2 units',
  'term': 'Term Typically Offered: SP'},
 {'class': 'STAT\xa0570. Selected Advanced Topics.1-4 units',
  'term': 'Term Typically Offered: TBD'},
 {'class': 'STAT\xa0590. Graduate Seminar in Statistics.1 unit',
  'term': 'Term Typically Offered: F, W, SP'},
 {'class': 'STAT\xa0599. Thesis.1-4 units',
  'term': 'Term Typically Offered: TBD'}]

In [36]:
#creating dataframe from list
df_class = pd.DataFrame(rows1)
df_class

,class,term
0,DATA100. Data Science for All I.4 units,"Term Typically Offered: F, W, SP"
1,DATA301. Introduction to Data Science.4 units,"Term Typically Offered: F, W, SP"
2,DATA401. Data Science Process and Ethics.3 units,Term Typically Offered: F
3,DATA402. Mathematical Foundations of Data Sci...,Term Typically Offered: F
4,DATA403. Data Science Projects Laboratory.1 unit,Term Typically Offered: F
...,...,...
69,STAT551. Statistical Learning with R.4 units,Term Typically Offered: F
70,STAT566. Graduate Consulting Practicum.2 units,Term Typically Offered: SP
71,STAT570. Selected Advanced Topics.1-4 units,Term Typically Offered: TBD
72,STAT590. Graduate Seminar in Statistics.1 unit,"Term Typically Offered: F, W, SP"
73,STAT599. Thesis.1-4 units,Term Typically Offered: TBD

Hints:

- Each course is represented by a `<div>` with `class=courseblock`, so you can find all the courses with `soup.find_all("div", {"class": "courseblock"})`
- The course name is in a `<p>` tag with `class=courseblocktitle`, inside a `<strong>` tag. (Though I don't think we need to find the strong tag here.)
- The term typically offered is in `<p>` tag with `class=noindent`. However, there are several tags with this class; term typically offered is the first one.
- If you want to use Beautiful Soup to remove the course units (e.g., 4 units), find the `<span>` tag within the course name tag and `.extract()` this span tag